.ani-box {
  padding: 50px;
  width: 300px;
  height: 300px;
  display: block;
  .ani-btn {
    padding: 10px;
    &:hover {
      animation: 흔들흔들 0.7s;
    }
  }
  .ani-p {
    width: min-content;
    height: 140px;
    font-size: 80px;
    box-sizing: border-box;
    padding: 5px;
    margin: auto;
    &:hover {
      animation: 빙글뿅 0.5s forwards;
    }
  }
}
@keyframes 흔들흔들 {
  0% {
    transform: none;
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: none;
  }
}

@keyframes 빙글뿅 {
  0% {
    transform: none;
  }
  25% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(45deg) scale(1.5);
  }
}
